@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #FFFFFF;
    padding: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.25);
}


.header__wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;

}

.header__inner-mobile {
    display: none;
}

.header__logo {
    max-height: 56px;
}

.header__list-info {

}

.header__list {
    display: flex;
    list-style: none;
    gap: 32px;
}

.header__list-item {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}

.header__list-item-link {
    text-decoration: none;
    color: #000000;
}

.header__list-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 126px;
    width: 100%;
    
}

.header__star {
    cursor: pointer;
}

.header__button {
    border: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #00000000;
    border-color: #1B1A1A;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.header__button:hover {
    background-color: #fff;
    color: #4269A7;
}

.header__inner-mobile {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.header__burger-menu {
    z-index: 1;
}

.header__inner-mobile .header__right {
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    max-width: 768px;
    width: 100%;
    flex-direction: column;
    gap: 0;
    transform: translateY(-100%);
    transition: all ease .5s;
}

.header__inner-mobile .header__right_active {
    transform: translateY(0%);
}


.header__inner-mobile .header__list {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header__inner-mobile .header__list-item {
    height: 100%;
}

.header__inner-mobile .header__list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header__inner-mobile .header__button {
    margin-bottom: 15px;
}

.header__inner-mobile .header__button:hover {
    color: #4269A7;
}


.main {
    
}

.main__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 42px 0px;
}

.main__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 563px;
    width: 100%;
}

.main__text-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__text-info-title {
    font-size: 70px;
    color: #000000;
    font-weight: 400;
}

.main__text-info-text {
    font-size: 20px;
    color: #000000;
}

.main__text-info-link {
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    padding: 15px 11px;
    align-self: flex-start;
    border: 1px solid transparent;
    cursor: pointer;
}

.main__text-info-link:hover {
    border-color:#000000;
    color: #4269A7;

}

.main__photo-school {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.courses {

}

.courses__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 78px;
}

.courses__all-search {
    display: flex;
    align-items: flex-end;
    gap: 590px;
}

.compact-search-field {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 14px;
    width: 315px;
    height: 45px;
    background: #E9E9E9;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-family: 'Manrope', sans-serif;
}

.compact-search-field:focus-within {
    background: #E0E0E0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.compact-search-icon {
    width: 24px;
    height: 24px;
}

.compact-search-input {
    flex: 1;
    height: 18px;
    border: none;
    background: transparent;
    font-size: 13px;
    color: #000000;
    outline: none;
}

.compact-search-input::placeholder {
    color: #000000;
    opacity: 0.7;
}

.courses__all {
    display: flex;
    flex-direction: column;
    max-width: 1108px;
    width: 100%;
}

.courses__text-subtitle {
    font-size: 16px;
    color: #000000;
}

.courses__text-title {
    font-size: 40px;
    color: #000000;
    font-weight: 700;
}

.courses__catalog-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 1108px;
    width: 100%;
}

.courses__catalog {
    display: flex;
    gap: 20px;
}

.courses__catalog-item {
    border: none;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 10px;
    border: 1px solid #00000000;
    border-color: #1B1A1A;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}

.courses__catalog-item:hover {
    color: #4269A7;
}

.courses__catalog-two {
    display: flex;
    gap: 20px;
}


.horizontal-line {
    max-width: 1018px;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

.short-line {
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, #f00, #00f);
    margin: 20px auto;
}



.catalog {
    
}

.catalog__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.catalog__inner-mobile {
    display: none;
}

.catalog__card {
    display: flex;
    gap: 32px;
}

.course__card-simple {
    display: flex;
    flex-direction: column;
    gap: 47px;
    width: 415px;
    height: 244px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding: 15px 12px;
    position: relative;
    font-family: 'Manrope', sans-serif;
}

.course__card-simple-info {
    display: flex;
    gap: 19px;
    align-items: flex-start;
}

.course__card-simple-info-two {
    display: flex;
    gap: 70px;
    align-items: flex-start;
}

.course__card-simple-info-three {
    display: flex;
    gap: 144px;
    align-items: flex-start;
}

.course__card-simple-info-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course__title-simple {
    font-size: 32px;
    font-weight: 400;
}

.course__text-simple {
    font-size: 13px;
}

.course__icon-simple {
    display: block;
    max-width: 118px;
    max-height: 125px;
}

.course__icon-simple-photo {
    width: 100%;
    height: 100%;
}

.button__simple {
    border: none;
    background-color: #F8F8F8;
    border-radius: 10px;
    color: #000000;
    padding: 10px 50px;
    border: 1px solid #00000000;
    border-color: #1B1A1A;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 213px;
    cursor: pointer;
    
}

.button__simple:hover {
    color: #4269A7;
}


.horizontal-line {
    max-width: 1018px;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

.short-line {
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, #f00, #00f);
    margin: 20px auto;
}


.about {

}

.about__inner {
    display: flex;
    flex-direction: column;
    padding: 82px 221px;
    gap: 31px;
}

.about__title {
    font-size: 48px;
}

.about__text {
    font-size: 38px;
}


.advantages {
    display: flex;
}

.advantages__inner {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.advantages__title {
    font-size: 48px;
}
.advantages__info {
    display: flex;
    flex-direction: column;
    gap: 65px;
}
.advantages__info-teacher {
    display: flex;
    gap: 50px;
    max-width: 1011px;
    width: 100%;
}
.advantages__info-teacher-text {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.advantages__info-teacher-text-title {
    font-size: 40px;
    color: #4269A7;
}
.advantages__info-teacher-text-definition {
    font-size: 30px;
}
.advantages__info-teacher-photo img {
    display: block;
}

.advantages__info-teacher-photo-mobile img{
    display: none;
}





.teachers {
    
}

.teachers__inner {
    display: flex;
    gap: 51px;
    padding: 80px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.teacher__title {
    font-size: 55px;
    font-weight: 700;
}

.teacher__card-info {
    display: flex;
    gap: 56px;
    justify-content: center;
}

.teacher__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 387px;
    max-height: 606px;
    background: #F8F8F8;
    border-radius: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 36px 34px;
    font-family: 'Manrope', sans-serif;
    position: relative;
}

.teacher__photo {
    max-width: 224px;
    width: 100%;
}

.teacher__photo img {
    display: block;
}

.teacher__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.teacher__text-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.teacher__name {
    font-size: 35px;
    font-weight: 400;
}

.teacher__info-text {
    font-size: 15px;
}

.courses__button {
    border: none;
    text-decoration: none;
    color: #000000;
    padding: 10px 7px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 23px;
    cursor: pointer;
}

.courses__button:hover {
    color: #4269A7;
}



.footer {
    display: flex;
    background: #FAFAFA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px 0;
    font-family: 'Manrope', sans-serif;
}

.footer__inner {
    max-width: 1238px;
    display: flex;
    gap: 119px;
    justify-content: center;
}


.footer__contacts {
    display: flex;
    max-width: 551px;
    flex-direction: column;
    gap: 63px;
}

.footer__contacts-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.footer__contacts-title {
    font-size: 20px;
    font-weight: 700;
}

.footer__contacts-text {
    font-size: 16px;
}

.contact__details {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact__details-text {
    font-size: 20px;
}

.brand {
    display: flex;
    flex-direction: column;
    max-width: 329px;
    width: 100%;
}

.brand__two {
    display: none;
    flex-direction: column;
    max-width: 329px;
    width: 100%;
}

.brand__logo {
    max-width: 268px;
    width: 100%;
}

.brand__slogan {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}


.footer__nav {
    max-width: 568px;
    display: flex;
    gap: 80px;
}

.nav__column {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.nav__column h2 {
    font-size: 25px;
}

.nav__column-link {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.nav__column-link a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.nav__column a:hover {
    color: #4269A7;
}



@media (max-width: 1024px) {

    .header {
        padding: unset;
    }

    .header__wrapper {
        max-width: 1024px;
    }

    .header__list {
        gap: 18px;
    }

    .main__inner {
        gap: 20px;
    }

    .main__text {
        padding: 0px 22px;
    }

    .courses__inner {
        gap: 35px;
        padding: 0px 22px;
    }

    .courses__catalog-item {
        font-size: 20px;
    }

    .horizontal-line {
        max-width: 950px;
    }

    .about__inner {
        padding: 70px 22px;
    }

    .about__title {
        font-size: 40px;
    }

    .about__text {
        font-size: 30px;
    }

    .advantages__inner {
        gap: 50px;
        padding: 0px 22px;
    }

    .advantages__title {
        font-size: 40px;
    }

    .advantages__info {
        gap: 45px;
    }

    .advantages__info-teacher {
        gap: 30px
    }

    .advantages__info-teacher-text-title {
        font-size: 35px;
    }

    .advantages__info-teacher-text-definition {
        font-size: 25px;
    }

    .advantages__info-teacher-photo img {
        max-width: 410px;
    }

    .teachers__inner {
        padding: 40px 0px
    }

    .teacher__title {
        font-size: 40px;
    }

    .teacher__name {
        font-size: 24px;
    }

    .teacher__info-text {
        font-size: 12px;
    }

    .courses__button {
        font-size: 15px;
    }

    .footer__inner {
        gap: 40px;
    }

    .footer__contacts {
        max-width: 450px;
    }

    .footer__nav {
        max-width: 450px;
    }

    .nav__column h2 {
        font-size: 20px;
    }

    .nav__column-link a {
        font-size: 20px;
    }

    .courses__all-search {
        gap: 544px;
    }

}


@media (max-width: 768px) {
    .header__inner {
        display: none;
    }

    .header__inner-mobile {
        display: flex;
    }

    .main__inner {
        flex-direction: column;
    }

    .main__text {
        padding: unset;
    }

    .main__text-info-title {
        font-size: 50px;
    }

    .courses__inner {
        gap: 25px;
    }

    .courses__catalog-item {
        font-size: 14px;
    }

    .catalog__card {
        flex-direction: column;
    }

    .about__text {
        font-size: 24px;
    }

    .advantages__inner {
        padding: 0px 15px;
    }

    .advantages__info-teacher-photo img {
        max-width: 243px;
    }

    .advantages__info-teacher-text-title {
        font-size: 30px;
    }

    .advantages__info-teacher-text-definition {
        font-size: 20px;
    }

    .advantages__title {
        max-width: 394px;
    }

    .teacher__card-info {
        flex-direction: column;
    }

    .teacher__card {
        flex-direction: unset;
        max-width: 550px;
        
    }

    .teacher__photo img {
        max-width: 169px;
    }

    .teacher__photo {
        max-width: 169px;
    }

    .teacher__info {
        gap: 71px;
    }

    .footer__inner {
        flex-direction: column;
    }

    .brand {
        display: none;
    }

    .brand__two {
        display: flex;
    }

    .footer__inner {
        gap: 47px;
    }

    .header__inner-mobile .header__button {
        border-color: unset;
        background-color: #4269A7;
        color: #ffffff;
    }


    .courses__all-search {
        gap: 213px;
    }


}

@media (max-width: 425px) {

    .header__inner-mobile .header__right {
        max-width: 425px;
    }

    .main__inner {
        padding: 42px 10px;
    }

    .main__text-info-title {
        font-size: 27px;
    }

    .main__text-info-text {
        font-size: 14px;
    }

    .main__text-info-link {
        font-size: 17px;
    }

    .courses__all-search {
        gap: 23px;
        flex-direction: column;
    }

    .courses__catalog-info {
        display: none;
    }

    .course__icon-simple {
        display: none;
    }

    .course__card-simple {
        max-width: 307px;
        max-height: 154px;
        height: 100%;
        gap: 15px;
    }

    .button__simple {
        padding: 5px 10px;
    }

    .course__card-simple-info-text {
        gap: 5px;
    }

    .course__title-simple {
        font-size: 22px;
    }

    .horizontal-line {
        max-width: 344px;
        width: 100%;
    }

    .about__title {
        font-size: 22px;
    }

    .about__text {
        font-size: 16px;
    }

    .advantages__title {
        max-width: 226px;
        font-size: 24px;
    }

    .advantages__info-teacher{
        flex-direction: column;
    }

    .advantages__info-teacher-photo img {
        display: none;
    }

    .advantages__info-teacher-photo-mobile img{
        display: block;
        max-width: 196px;
    }

    .teacher__card {
        flex-direction: column;
        max-width: 307px;
        align-items: center;
    }

    .teacher__photo img {
        max-width: 122px;
    }

    .teacher__text-info {
        gap: 5px;
    }

    .teacher__info {
        gap: 0px;
    }

    .teacher__title {
        font-size: 24px;
    }

    .teacher__photo {
        max-width: none;
    }

    .footer__inner {
        max-width: 340px;
    }

    .footer__nav {
        display: none;
    }



}



@media (max-width: 320px) {
    .courses__inner {
        padding: unset;
    }

    .courses__text-subtitle {
        font-size: 10px;
    }

    .courses__text-title {
        font-size: 20px;
    }

    .compact-search-field {
        width: 255px;
    }

    .horizontal-line {
        max-width: 280px;
    }

    .advantages__inner {
        padding: 0px 10px;
    }

    .advantages__info-teacher-text-title {
        font-size: 22px;
    }

    .advantages__info-teacher-text-definition {
        font-size: 16px;
    }

    .teacher__card {
        max-width: 266px;
    }

    .footer__inner {
        max-width: 290px;
    }

    .footer__contacts-title {
        font-size: 16px;
    }

    .footer__contacts-text {
        font-size: 14px;
    }

    .contact__details-text {
        font-size: 14px;
    }

    .footer__contacts {
        gap: 25px;
    }

    .brand__logo {
        max-width: 222px;
    }

    .brand__slogan {
        font-size: 17px;
    }

}