@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #FFFFFF;
    padding: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.25);
}


.header__wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;

}

.header__logo {
    max-height: 56px;
}

.header__list-info {

}

.header__list {
    display: flex;
    list-style: none;
    gap: 32px;
}

.header__list-item {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}

.header__list-item-link {
    text-decoration: none;
    color: #000000;
}

.header__list-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 126px;
    width: 100%;
    
}

.header__star {
    cursor: pointer;
}

.header__button {
    border: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #00000000;
    border-color: #1B1A1A;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.header__button:hover {
    background-color: #fff;
    color: #4269A7;
}


.main {
    
}

.main__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 42px 0px;
}

.main__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 563px;
    width: 100%;
}

.main__text-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__text-info-title {
    font-size: 70px;
    color: #000000;
    font-weight: 400;
}

.main__text-info-text {
    font-size: 20px;
    color: #000000;
}

.main__text-info-link {
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    padding: 15px 11px;
    align-self: flex-start;
    border: 1px solid transparent;
    cursor: pointer;
}

.main__text-info-link:hover {
    border-color:#000000;
}

.main__photo {

}