@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #FFFFFF;
    padding: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.25);
}


.header__wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;

}

.header__logo {
    max-height: 56px;
}

.header__list-info {

}

.header__list {
    display: flex;
    list-style: none;
    gap: 32px;
}

.header__list-item {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}

.header__list-item-link {
    text-decoration: none;
    color: #000000;
}

.header__list-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 126px;
    width: 100%;
    
}

.header__star {
    cursor: pointer;
}

.header__button {
    border: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #00000000;
    border-color: #1B1A1A;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.header__button:hover {
    background-color: #fff;
    color: #4269A7;
}





.main {
    
}

.main__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 42px 0px;
}

.main__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 563px;
    width: 100%;
}

.main__text-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__text-info-title {
    font-size: 70px;
    color: #000000;
    font-weight: 400;
}

.main__text-info-text {
    font-size: 20px;
    color: #000000;
}

.main__text-info-link {
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    padding: 15px 11px;
    align-self: flex-start;
    border: 1px solid transparent;
    cursor: pointer;
}

.main__text-info-link:hover {
    border-color:#000000;
    color: #4269A7;

}

.main__photo-school {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.courses {

}

.courses__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 78px;
}

.courses__all {
    display: flex;
    flex-direction: column;
    max-width: 1108px;
    width: 100%;
}

.courses__text-subtitle {
    font-size: 16px;
    color: #000000;
}

.courses__text-title {
    font-size: 40px;
    color: #000000;
    font-weight: 700;
}

.courses__catalog-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 1108px;
    width: 100%;
}

.courses__catalog {
    display: flex;
    gap: 20px;
}

.courses__catalog-item {
    border: none;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 10px;
    border: 1px solid #00000000;
    border-color: #1B1A1A;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
}

.courses__catalog-item:hover {
    color: #4269A7;
}

.courses__catalog-two {
    display: flex;
    gap: 20px;
}


.horizontal-line {
    max-width: 1018px;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

.short-line {
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, #f00, #00f);
    margin: 20px auto;
}



.catalog {
    
}

.catalog__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.catalog__card {
    display: flex;
    gap: 32px;
}

.course__card-simple {
    display: flex;
    flex-direction: column;
    gap: 47px;
    width: 415px;
    height: 244px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding: 15px 12px;
    position: relative;
    font-family: 'Manrope', sans-serif;
}

.course__card-simple-info {
    display: flex;
    gap: 19px;
    align-items: flex-start;
}

.course__card-simple-info-two {
    display: flex;
    gap: 70px;
    align-items: flex-start;
}

.course__card-simple-info-three {
    display: flex;
    gap: 144px;
    align-items: flex-start;
}

.course__card-simple-info-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course__title-simple {
    font-size: 32px;
    font-weight: 400;
}

.course__text-simple {
    font-size: 13px;
}

.course__icon-simple {
    display: block;
    max-width: 118px;
    max-height: 125px;
}

.course__icon-simple-photo {
    width: 100%;
    height: 100%;
}

.button__simple {
    border: none;
    background-color: #F8F8F8;
    border-radius: 10px;
    color: #000000;
    padding: 10px 50px;
    border: 1px solid #00000000;
    border-color: #1B1A1A;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 213px;
    cursor: pointer;
    
}

.button__simple:hover {
    color: #4269A7;
}

.horizontal-line {
    max-width: 1018px;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

.short-line {
    width: 200px;
    height: 3px;
    background: linear-gradient(to right, #f00, #00f);
    margin: 20px auto;
}


.about {

}

.about__inner {
    display: flex;
    flex-direction: column;
    padding: 82px 221px;
    gap: 31px;
}

.about__title {
    font-size: 48px;
}

.about__text {
    font-size: 38px;
}

